body {
	background-image: url('../images/imagesback.jpeg');
	
}


#heading{
	text-align: center;
	font-family: serif;
	color: wheat;
	margin-bottom: 40px;
}
.row{
	font-family: serif;
	color: wheat;
	margin-right: 20px;
	
}
.col-lg-4{
	
	text-align: center;
	padding-bottom: 20px;
}
#underscore{
	margin-top: 20px;
	font-size: 120px;
	color: wheat;
	font-family: serif;
	
	text-align: center;

}